.skt-builder-column {min-height: 1px;}
.skt-builder-column p {color: #5b5b5b;}
.skt-builder-service-column-text p {}
.skt-builder-block-title h2 {font-weight: 600;}
.skt-builder-block-title .skt-builder-block-title-separator {background-color: #685031;display: inline-block;height: 2px;margin-top: 25px;width: 40px;}
.skt-builder-block-button, .skt-builder-block-button2 {background-color: #685031;color: #fff;font-size: 15px;padding: 12px 35px;display: inline-block;margin-top: 40px;}
.skt-builder-block-button:hover, .skt-builder-block-button2:hover {background-color: #b58a52;color: #fff;}
.skt-builder-home-section1-block .skt-builder-column {padding: 50px 25px;}
.skt-builder-home-section1-block .skt-builder-featured-column {text-align: center;transition: all .2s;}
.skt-builder-featured-column .skt-builder-column-inner img {text-align: center;width: 220px;height: 220px;margin: auto;display: inline-block;}
.skt-builder-featured-column .skt-builder-featured-column-image {max-width: 290px;width: 100%;border-radius: 100%;}
.skt-builder-featured-column .skt-builder-featured-column-title {font-size: 35px;font-weight: 600;margin: 40px 0 20px;}
.skt-builder-featured-column .skt-builder-block-button {margin-top: 10px;}
.skt-builder-home-section1-block .featured-column-button {margin-top: 30px;}
.skt-builder-home-section2-block .skt-builder-block-button {font-weight: 600;}
.skt-builder-home-section3-block .skt-builder-testimonial-carousel-content .skt-builder-testimonial-carousel-image {border: none !important;width: 220px;height: 220px;position: relative;margin-bottom: 35px;}
.skt-builder-home-section3-block .skt-builder-testimonial-carousel-content {padding: 50px 20px;background: #f9f7f8;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;transition: all .2s;}
.skt-builder-home-section3-block .skt-builder-testimonial-carousel-title {margin: 25px 0 20px;font-size: 29px;font-weight: 600;}
.skt-builder-home-section3-block .skt-builder-carousel .owl-dots .owl-dot {border: none !important;}
.skt-builder-home-section3-block .skt-builder-carousel .owl-nav {top: auto;margin-top: 80px;}
.skt-builder-home-section3-block .owl-next {line-height: 40px !important;width: 40px;height: 40px;background: #8cc63e !important;}
.skt-builder-home-section3-block .owl-prev {line-height: 40px !important;width: 40px;height: 40px;background: #8cc63e !important;}
.skt-builder-home-section3-block .owl-next span, .skt-builder-home-section3-block .owl-prev span {font-size: 25px;top: -6px;position: relative;}
.skt-builder-home-section4-block {position: relative;}
.skt-builder-home-section4-block .skt-builder-block-description {width: 70%;margin: 0 auto;text-align: center;}
.skt-builder-home-section4-block .skt-builder-block-button {margin: 0 auto;display: table;padding: 15px 40px;font-size: 16px;line-height: 22px;font-weight: 600;}
.skt-builder-home-section4-block .skt-builder-block-description {margin-bottom: 50px;font-size: 17px;}
.skt-builder-home-section4-block .skt-builder-block-inner {position: relative;z-index: 99;}
.leftBlockArea {float: left;width: 32%;}
.rightBlockArea {float: left;width: 32%;}
.leftBlockCols {text-align: right;padding-top: 35px;}
.leftBlockCols:hover .left-fitright img, .rightBlockCols:hover .right-fitleft img {transform: rotate(360deg);transition: all .8s;}
.left-fitleft {float: left;text-align: right;width: 65%;margin-left: 30px;}
.left-fitleft {text-align: left;color: #353535;}
.left-fit-desc {color: #fff;float: right;line-height: 20px;text-align: left;font-size: 13px;border-bottom: none;border-bottom-color: #fff;padding-bottom: 0px;}
.left-fitright {float: left;text-align: center;vertical-align: middle;width: 100px;height: 100px;line-height: 100px;color: #000;background-color: transparent;font-size: 14px;font-weight: bold;-moz-border-radius: 100%;-webkit-border-radius: 100%;-khtml-border-radius: 100%;border-radius: 100%;padding: 0;overflow: hidden;}
.right-fitleft {background-color: transparent;border-radius: 100%;color: #000;float: left;font-weight: bold;padding: 0;text-align: center;vertical-align: middle;width: 100px;height: 100px;line-height: 100px;}
.right-fitright {float: right;text-align: left;width: 65%;}
.right-fit-desc {border-bottom: none;border-color: #fff;color: #fff;float: left;font-size: 13px;line-height: 20px;padding-bottom: 0px;text-align: left;}
.centerBlockimage {text-align: center;margin: auto;width: 36%;float: left;position: relative;top: 40px;padding: 0px 20px;}
.rightBlockCols {text-align: left;padding-top: 35px;}
.left-fit-desc p, .right-fit-desc p {margin-bottom: 0px;font-size: 15px;}
.left-fit-title h3, .right-fit-title h3 {font-weight: 600;font-size: 23px;color: #353535;}
.skt-builder-home-section6-block .owl-item {padding-top: 75px;}
.skt-builder-home-section6-block .skt-builder-testimonial-carousel-content .skt-builder-testimonial-carousel-image {width: 150px;height: 150px;position: relative;margin-bottom: 35px;margin-top: -120px;}
.skt-builder-home-section6-block .skt-builder-testimonial-carousel-content {padding: 50px 20px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
.skt-builder-home-section6-block .skt-builder-testimonial-carousel-title {margin: 25px 0 5px;font-size: 29px;font-weight: 600;}
.skt-builder-home-section6-block .skt-builder-carousel .owl-dots .owl-dot {border: none !important;}
.skt-builder-home-section6-block .skt-builder-carousel .owl-nav {top: auto;margin-top: 80px;}
.skt-builder-home-section6-block .owl-next {line-height: 40px !important;width: 40px;height: 40px;background: #8cc63e !important;}
.skt-builder-home-section6-block .owl-prev {line-height: 40px !important;width: 40px;height: 40px;background: #8cc63e !important;}
.skt-builder-home-section6-block .owl-next span, .skt-builder-home-section6-block .owl-prev span {font-size: 25px;top: -6px;position: relative;}
.skt-builder-home-section6-block h6 {font-weight: normal;font-size: 15px;margin: 0px;}
.about-customer span {font-size: 40px;color: #8cc63e;margin-bottom: 25px;}
.skt-builder-home-section8-block {position: relative;}
.skt-builder-home-section8-block .skt-builder-container {width: 50%;margin: 0 auto;z-index: 999;position: relative;}
.skt-builder-home-section8-block .skt-builder-block-description p {font-size: 17px;}
.skt-builder-home-section8-block .skt-builder-block-button {margin-top: 0px;font-weight: 600;font-size: 16px;}
.skt-builder-home-section8-block .offers-outer {width: 180px;height: 180px;background: rgba(255,255,255,.5);border-radius: 100%;position: absolute;right: 275px;top: 100px;z-index: 999;}
.skt-builder-home-section8-block .offers {width: 160px;height: 160px;background: #8cc63e;border-radius: 100%;text-align: center;position: absolute;right: 10px;top: 10px;color: #fff;padding-top: 35px;}
.skt-builder-home-section8-block .offers h4 {margin: 0px;font-size: 40px;color: #fff;margin-bottom: 5px;}
.skt-builder-home-section10-block .skt-builder-block-description {color: #fff;}
.skt-builder-home-section10-block .woocommerce ul.products li.product {text-align: center;width: 22.5%;margin: 0 2.5% 3% 0;}
.skt-builder-home-section10-block .woocommerce ul.products li.product .woocommerce-loop-product__title {color: #fff;font-size: 18px;font-weight: 600;padding: 35px 0px 10px;transition: all .2s;font-family: "Assistant";}
.skt-builder-home-section10-block .woocommerce ul.products li.product .price {color: #fff;font-size: 22px;font-weight: 600;}
.skt-builder-home-section10-block .woocommerce ul.products li.product .button {border-radius: 40px;font-size: 17px;font-weight: 600;color: #282828;background-color: #fff;line-height: normal;padding: 10px 10px;margin: 0px !important;margin-top: 100px !important;margin-left: -75px !important;z-index: 999;}
.skt-builder-home-section10-block .woocommerce ul.products li.product .button.added {margin-left: -50px !important;}
.skt-builder-home-section10-block .woocommerce ul.products li.product .button:hover {background-color: #b58a52;color: #fff;}
.skt-builder-home-section10-block .woocommerce ul.products li.product:hover .woocommerce-loop-product__title {color: #b58a52;}
.skt-product-img:before {width: 100%;height: 250px;position: absolute;top: 0;left: 0;background: rgba(246,175,184,.8);content: "";z-index: 1;opacity: 0;border-radius: 10px;}
.skt-product-img {width: 100%;height: 250px;background: #fff;border-radius: 10px;position: relative;}
.skt-builder-home-section10-block .woocommerce ul.products li.product:hover .skt-product-img:before {opacity: 1;}
.skt-builder-home-section10-block .onsale {display: none;}
.skt-builder-home-section10-block .price del {display: none !important;}
.skt-builder-home-section10-block .woocommerce ul.products li.product .price ins {text-decoration: none;}
.add_to_cart_button {display: none !important;}
.product:hover a .imagewrapper {background: rgba(246,175,184,.85) !important;}
.skt-builder-home-section10-block .all-shop-btn {margin: 0 auto;display: table;}
.skt-builder-home-section11-block .price-outer-box {width: 33.33%;padding: 15px;float: left;}
.skt-builder-home-section11-block .price-box {background: #f7f6ed;padding: 20px 50px;border-radius: 8px;min-height: 570px;}
.skt-builder-home-section11-block .price-box h4 {font-size: 19px;color: #282828;font-weight: bold;text-align: center;font-family: "Assistant";margin-bottom: 30px;text-transform: uppercase;letter-spacing: 2px;}
.skt-builder-home-section11-block .price-rate {width: 125px;height: 125px;background: #fff;text-align: center;margin: 0 auto;border-radius: 100px;padding-top: 28px;margin-bottom: 30px;}
.skt-builder-home-section11-block .price-rate h3 {font-size: 32px;font-family: "Assistant",sans-serif;font-weight: 600;margin-bottom: 5px;margin-top: 0px;}
.skt-builder-home-section11-block .price-rate h6 {font-size: 13px;font-family: "Assistant",sans-serif;margin: 0px;font-weight: 600;}
.skt-builder-home-section11-block .price-box ul {padding-left: 10px;min-height: 170px;}
.skt-builder-home-section11-block .price-box ul li {list-style: none;font-size: 15px;margin: 8px 0px;}
.skt-builder-home-section11-block .price-box ul li:before {font-family: FontAwesome;content: "ï€Œ";margin-right: 15px;}
.skt-builder-home-section11-block .purchase-btn {display: table;margin: 0 auto;padding: 10px 50px;font-weight: bold;text-transform: uppercase;margin-top: 50px;font-family: "Assistant",sans-serif;font-size: 13px;}
#textarea354 .ql-editor p span {color: #222 !important;}
@media screen and (max-width: 29.938em) {.skt-builder-block-wrapper {padding: 30px 0px !important;}
	.skt-builder-block-wrapper .skt-builder-block-title h2 {font-size: 30px !important;margin-bottom: 20px !important;}
	.skt-builder-service-column .skt-builder-column-inner {padding: 20px 15px 0px;}
	.skt-builder-home-section4-block .skt-builder-block-description {font-size: 18px !important;width: 100%;}
	.skt-columns-3 {width: 100%;padding: 5px 0px;text-align: center;}
	.builder-shape {width: 100%;}
	.builder-shape::after {display: none;}
	.home.has_trans_header .header {background: none !important;padding: 5px;}
	.nivo-caption {top: 80%;-moz-transform: translateY(-80%);}
	.nivo-controlNav {display: none !important;}
	.skt-builder-home-section3-block {padding-bottom: 60px !important;}
	.skt-builder-home-section3-block .skt-builder-carousel .owl-nav {margin-top: 10px;}
	.leftBlockArea, .centerBlockimage, .rightBlockArea {width: 100%;}
	.left-fitleft {margin-left: 10px;}
	.skt-builder-home-section8-block .skt-builder-container {width: 80%;}
	.skt-builder-home-section8-block .offers-outer {width: 80px;height: 80px;right: 5px;top: 35px;}
	.skt-builder-home-section8-block .offers {width: 70px;height: 70px;right: 5px;top: 5px;padding-top: 5px;}
	.skt-builder-home-section8-block .offers h4 {font-size: 22px;margin-bottom: 0px;}
	.skt-builder-home-section10-block .woocommerce ul.products li.product {width: 100%;}
	.skt-builder-home-section11-block .price-outer-box {width: 100%;}}
@media screen and (max-width:47.938em) and (min-width:30.000em) {h3, h3 a:link, h3 a:visited {font-size: initial !important;}
	.skt-builder-block-wrapper {padding: 40px 0px !important;}
	.skt-builder-block-wrapper .skt-builder-block-title h2 {font-size: 34px !important;}
	.skt-columns-3 {width: 100%;padding: 5px 0px;}
	.builder-shape {width: 100%;}
	.builder-shape::after {display: none;}
	.home.has_trans_header .header {background: none !important;padding: 5px;}
	.nivo-caption {top: 60%;-moz-transform: translateY(-60%);}
	.nivo-controlNav {display: none !important;}
	.skt-builder-featured-column-title {font-size: 35px;}
	.skt-builder-home-section3-block {padding-bottom: 60px !important;}
	.skt-builder-home-section3-block .skt-builder-carousel .owl-nav {margin-top: 10px;}
	.leftBlockArea, .centerBlockimage, .rightBlockArea {width: 100%;padding: 30px 20px;}
	.left-fitleft {margin-left: 10px;float: right;}
	.left-fitright, .right-fitleft {width: 100px !important;}
	.left-fit-title h3, .right-fit-title h3 {font-size: 23px !important;}
	.skt-builder-home-section8-block .skt-builder-container {width: 80%;}
	.skt-builder-home-section8-block .offers-outer {width: 80px;height: 80px;right: 0px;top: 35px;}
	.skt-builder-home-section8-block .offers {width: 70px;height: 70px;right: 5px;top: 5px;padding-top: 5px;}
	.skt-builder-home-section8-block .offers h4 {font-size: 22px;margin-bottom: 0px;}
	.skt-builder-home-section10-block .woocommerce ul.products li.product {width: 46%;}
	.skt-builder-home-section11-block .price-outer-box {width: 100%;}
	.skt-builder-home-section11-block .price-rate h3 {font-size: 32px !important;}}
@media screen and (max-width:63.938em) and (min-width:48.000em) {.skt-builder-block-wrapper {padding: 60px 0px !important;}
	.skt-builder-block-wrapper .skt-builder-block-title h2 {font-size: 38px !important;}
	.skt-columns-3 {width: 50%;padding: 5px 0px;}
	.skt-builder-home-section5-block .skt-builder-service-column .skt-builder-column-inner {min-height: 390px;}
	.skt-builder-featured-column .skt-builder-column-inner img {width: 170px;height: 170px;}
	.skt-builder-featured-column .skt-builder-featured-column-title {font-size: 26px !important;}
	.skt-builder-home-section3-block .skt-builder-carousel .owl-nav {margin-top: 10px;}
	.left-fitright, .right-fitleft {width: 55px !important;height: 55px;}
	.skt-builder-home-section8-block .skt-builder-container {width: 70%;}
	.left-fitleft {margin-left: 15px;}
	.left-fit-title h3, .right-fit-title h3 {font-size: 17px;}
	.skt-builder-home-section8-block .offers-outer {right: 40px;top: 80px;}
	.post-style4 {width: 50%;}
	.skt-builder-home-section10-block .woocommerce ul.products li.product {clear: none;}
	.skt-builder-home-section11-block .price-box {padding: 15px;}}
@media screen and (max-width:1169px) and (min-width:1024px) {.left-fitleft {margin-left: 12px;}}